#first {
    display: grid;
    width: 50%;
    background-color: #f3e8e8d8;
}

#second {
    display: grid;
    width: 50%;
    background-color: #fcfcfcec;
}

div {
    font-family: Arial, Helvetica, sans-serif;
}
.card {
    box-shadow: 0 4px 8px 0 #2b2c2b;
    transition: 0.3s;
    display: flex;
  }

.container {
    padding: 4px 20px;
  }