* {
    padding: 1px;
}
    
body {
    font-family: 'Raleway', sans-serif;
    width: 100%;
}

@media (min-width: 360px) and (max-width: 2000px){

#signup {
        color: #0065FC;
        background: none;
        border: 0;
}
    
#logo {
        border: none;
        background: none;
}

header {
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
}

.headerbuttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-around;
}

.headerbuttons2 {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
}

.underlined {
    width: 50%;
    font-size: 20px;
    background: none;
    border: 0;
    text-decoration: none;
    padding-bottom: 5px;
}

.underlined:visited {
    text-decoration: none;
}

.underlined:hover {
    text-decoration: none;
    color: #0065FC;
    border-bottom: 2px solid #0065FC;
}

/* Styling the searchbar */

.searchbar {
    background-color: none;
    border: 1px solid #f2f2f2;
    width: 100%;
    max-width: 480px;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.searchbar .input {
    border: none;
    width: 85%;
    padding: 10px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.searchbtn {
    width: 10%;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.mapmarker {
    width: 10%;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    background-color: #F2F2f2;
}

.searchbtn .fas {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: none;
}

.mapmarker .fas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: #574d4d;
}

/* Styling the filter buttons */

.filtbtn {
    border: 1px solid #F2F2f2;
    font-size: 14px;
    padding-right: 10px;
    cursor: pointer;
    background-color: white;
    border-radius: 35px;
  }

  .filtbtn i {
    position: relative;
    right: 2px;
    border-radius: 20px;
    color: #0065FC;
    padding: 15px;
    background-color: #DEEBFF;
  }

/* Styling the first section (Most Popular) */

.wrapper2 {
    display: grid;
    max-height: 1500px;
    grid-template-rows: 1fr 2fr 2fr 2fr;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    grid-template-areas: 
    "title title title title title"
    "image image text text text"
    "image1 image1 text1 text1 text1"
    "image2 image2 text2 text2 text2"
}

.title {
    grid-area: title;
}

.image {
    grid-area:image;
    background-image: url("images/hotels/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
    object-fit: cover;
}

.text {
    grid-area: text;
    background-color: tomato;
}

.image1 {
    grid-area: image1;
    <img src="images/hotels/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg" alt="Hotel Room">
}
.text1 {
    grid-area: text1;
    background-color: yellowgreen;
}
.image2 {
    grid-area: image2;
}
.text2 {
    grid-area: text2;
    background-color: wheat;
}

img {
    max-width: 100%;
    max-height: 50%;
}

.fas, .far {
    color: #0065FC;
}

/* Styling the second section (Accomodations in Marseille) */

/*#second {
    width: 100%;
    margin: 0;
    padding: 0;
}

#third {
    width: 100%;
}

.card  {
    box-shadow: 0 4px 8px 0 #9a9c9a;
    transition: 0.3s;
    padding: 10px;
  }

.container {
    padding: 4px 20px;
  } 



.card3, img {
    display: inline-block;
    max-width: 480px;
    width: 100%;
    margin: auto;
    object-fit: cover;
}
.wrapper {  
    display: flex;
    flex-wrap: nowrap;
    height: 2700px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    order: 0;
}

.card3 {
    position: relative;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 #9a9c9a;
    transition: 0.3s;
    padding: 0;
    margin: 0;
    overflow: hidden;
} 

<img src="images/hotels/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg" alt="Hotel Room">

*/

footer {
    background-color:#F2F2f2;
    width: 100%;
    padding: 5px 20px;
    margin: 0;
    border: none;
}